[submodule "mcloud-libjxl"]
	path = mcloud-libjxl
	url = https://github.com/Mcloud136/mcloud-libjxl.git
	branch = main
[submodule "infra/upgrader"]
	path = infra/upgrader
	url = https://github.com/Mcloud136/mcloud-win-upgrade
